{% extends "base.html" %}

{% block content %}

<div class="card shadow-lg">

    <div class="card-body">

        <h2 class="text-primary mb-4">
            About PCOS Detect AI
        </h2>

        <p>
            PCOS Detect AI is a Final Year Major Project developed to assist
            in the early detection of Polycystic Ovarian Syndrome (PCOS)
            using Artificial Intelligence and Convolutional Neural Networks (CNN).
        </p>

        <p>
            The system analyzes ovarian ultrasound images and predicts
            whether the patient is likely to have PCOS or not.
        </p>

        <p>
            This project aims to provide a fast, accurate, and user-friendly
            solution for supporting medical diagnosis.
        </p>

    </div>

</div>

{% endblock %}